<html>
    <head>
        <title>Beks's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">HOME WORK</a></h1>
        </div>

        <div>
            <p>published: 19.01.2020, 21:40 PM</p>
            <h2><a href="">My first post</a></h2>
            <p>LEARNING DJANGO</p>
        </div>


        <div>
            <p>published: 19.01.2020, 21:45 PM</p>
            <h2><a href="">My second post</a></h2>
            <p>Успех напрямую зависит от того, сколько труда ты вложил в дело</p>
        </div>
    </body>
</html>